.container{
    padding:3% 8%;
}
.header{
    padding-top:15px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color:#01492f;
}
.star_container{
    margin:20px 0;
    text-align: center;
    border-bottom: 1px solid;
    padding-bottom: 10px;
}
.star_text{
    font-weight: bold;
    margin:10px 0;
}
.text_container textarea{
    width:350px;
    height: 200px;
    border-radius: 8px;
    padding:3% 5%;
    font-weight: bold;
}
.text_container textarea::-webkit-scrollbar {
    width: 10px; 
}
.text_container textarea::-webkit-scrollbar-thumb {
    height: 10%; /* 스크롤바의 길이 */
    background: #217af4; /* 스크롤바의 색상 */
    border-radius: 10px;
}
.text_container textarea::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
}
.message{
    text-align: center;
    margin:10px 0;
    font-weight: bold;
    color:red;
}
.file_container{
    margin-top:10px;
    display: flex;
}
.plus_box{
    width: 70px;
    height: 70px;
    background-color: #cecece;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
}
.plus_button{
    color:#fff;
    font-size:50px;
    position: absolute;
    top:10px;
    right:10px;
}
.button_container{
    display: flex;
    justify-content: center;
    margin-top:20px;
}
.cancel_button, .submit_button {
    margin:0 20px;
    text-align: center;
    font-weight: 600;
    border: none;
    padding: 10px 30px;
    border-radius: 15px;
    background-color: #217af4;
    color: #d7fff1;
    cursor: pointer;
}