.category_card{
    width:18rem;
    margin: 0 10px;
    cursor: pointer;
}
.category_body{
    flex:none;
}
.category_title{
    font-weight: bold;
    color : rgb(243, 147, 82);
    text-align: center;
}
.category_text{
    margin-top:20px;
    word-break: keep-all;
    font-weight: bold;
    font-size:14px;
    color:#555;
}
.category_item{
    font-weight: bold !important;
    color:#333 !important;
}
.message{
    color: #333;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    margin:20px 0;
}